APP_NAME=Lumen
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
APP_TIMEZONE=UTC

LOG_CHANNEL=stack
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
QUEUE_CONNECTION=sync

PHM_GENERATOR_DRIVER=php
PYTHON_PHM_WORKER_POLL_SECONDS=15
PYTHON_PHM_WORKER_BATCH_SIZE=1
PYTHON_PHM_OUTPUT_DIR=storage/app/python-phm
PYTHON_PHM_LOG_FILE=storage/logs/python-phm-worker.log
