/* Container styles */
.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/* Banner styles */
.banner {
  padding: 2px;
  background-color: #1976d299;
  color: #0f0707;
  border: var(--border);
  text-align: left;
}

/* Filter section styles */
.filterSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 10px;
}

.filter_s {
  display: inline-block;
}

.filter {
  margin-right: auto;
  display: inline-block;
}

.clearButton {
  margin-left: auto;
}

/* Table header cell styles */
.tableHeaderCell {
  padding: 8px;
  font-size: 14px;
  overflow-wrap: break-word;
  white-space: normal;
  background-color: #fdc58c;
  color: #050000;
  min-width: fit-content;
  text-align: center;
}

/* Table cell styles */
.tableCell {
  padding: 8px;
  font-size: 13px;
  overflow-wrap: break-word;
  white-space: normal;
  min-width: fit-content;
  text-align: center;
}




/* Table container styles */
.tableContainer {
  margin-top: 10px;
}

/* Table styles */
.table {
  font-size: 14px;
}

/* Status classes */
.tableCell.done {
  color: blue;
}

.tableCell.Done {
  color: blue;
}

.tableCell.pending {
  color: orange;
}
.tableCell.Pending {
  color: orange;
}

.tableCell.failed {
  color: red;
}


.tableCell.In.Progress {
  color: green;
}

.tableCell.in progress {
  color: green;
}



.tableCell {
  background-color:  #e6f7ff; 
}



